*{
    box-sizing: border-box;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans', sans-serif;
}

#navlist a {
    font-family: "Roboto", sans-serif;
}

