*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    height: 100vh;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.brand img{
    /*color: red;*/
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans', sans-serif;
}

.brand h1{
    font-family: "Poppins", sans-serif !important;
}

#navlist a {
    /*font-family: "Roboto", sans-serif;*/
    font-family: "Poppins", sans-serif;
}

.project-title{
    font-family: "Poppins", sans-serif !important;
}

.hide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px);
    transition: all 1s;
}

.hide-right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100px);
    transition: all 1s;
}

.hide-fade{
    opacity: 0;
    filter: blur(5px);
    /*transform: translateX(0);*/
    transition: all 1s;
}

.hide-bottom{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200px);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

.delay-one{
    transition-delay: 0.2ms;
}

.delay-two{
    transition-delay: 0.4ms;
}

.delay-three{
    transition-delay: 0.7ms;
}